<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style href="stylesheets/output.css"></style>
    <link rel="stylesheet" type="text/css" href="stylesheets/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
    <title>Avere</title>
</head>

<body class="bg-[#8DBEDA] ">
    <div class="flex flex-row p-4 bg-[#295872] ">
        <div class="basis-1/4">
            <img src="img/avere.jpg" alt="" class="h-12 w-12 rounded-full">
        </div>
        <div class="flex sm:basis-2/4 basis-3/4 text-center items-center justify-center">
            <h1 class="font-bold text-white text-2xl">Cadastrar Consultar</h1>
        </div>
    </div>
    {{{body}}}
    <div class="w-full p-5 bg-[#295872] block text-center text-white">
        <h2>Trabalho nodejs</h2>
    </div>
</body>
</html>