<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Avere</title>
    <script type="module">
        import {mudarRotas} from "/js/mudarRotas.js"

        mudarRotas()
    </script>
</head>

<body class="bg-[#8DBEDA] ">
    <div class="flex flex-row p-4 bg-[#295872] ">
        <div class="basis-1/4">
            <img src="/img/avere.jpg" alt="" class="h-12 w-12 rounded-full">
        </div>
        <div class="flex sm:basis-2/4 basis-2/4 text-center items-center justify-center flex-row">
            <a class="font-bold text-white text-2xl mx-2" id="rotaCadastrar">Cadastrar</a>
            <a class="font-bold text-white text-2xl mx-2" id="rotaConsultar">Consultar</a>
        </div>
         <div class="flex sm:basis-1/4 basis-1/4 text-center items-center justify-center flex-row">
             <a class="font-bold text-white text-2xl mx-2" href="/atualizar">Atualizar</a>
         </div>
    </div>
    {{{body}}}
    <div class="w-full p-5 bg-[#295872] block text-center text-white">
        <h2>Trabalho nodejs</h2>
    </div>
</body>
</html>