<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style href="stylesheets/output.css"></style>
  <link rel="stylesheet" type="text/css" href="stylesheets/output.css"/>

  <style></style>
  <title>Document</title>
</head>
<body>
  <div class="container mx-auto">
    <h1>ola</h1>
  </div>
  
</body>
</html>
